{{- $profiles := list "desktop" "laptop" "server" -}}
{{- $profile := promptChoiceOnce . "profile" "Profile" $profiles -}}
[data]
profile = {{ $profile | quote }}
{{ if or (eq $profile "desktop") (eq $profile "laptop") }}
init = "runit"
wm = "niri"
terminal = "alacritty"
notifications = "mako"
launcher = "fuzzel"
install_fonts = true
install_cursor = true
install_bluetui = true
{{ end }}
