// This config is in the KDL format: https://kdl.dev
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

include "startup.kdl"

include "wm.kdl"

include "wmrules.kdl"

include "binds.kdl"
