// spawn-at-startup "~/.local/share/xwayland-satellite/target/release/xwayland-satellite"
// spawn-at-startup "waybar"
spawn-at-startup "cliphist" "wipe"
spawn-at-startup "sh" "-c" "wl-paste --watch cliphist store"
spawn-at-startup "~/.local/share/other/battery_check.sh"
spawn-at-startup "sh" "-c" "swaybg --image ~/.local/share/other/wallapaper.png"
spawn-at-startup "sh" "-c" "swayidle -w timeout 10 'makoctl mode -a idle' resume '~/.config/mako/resume-sweep.sh'"
spawn-at-startup "sh" "-c" "waybar"
spawn-at-startup "sh" "-c" "swayidle -w timeout 290 'niri msg action power-off-monitors' timeout 300 'swaylock -f -c 000000' timeout 420 'zzz'"
