// https://github.com/YaLTeR/niri/wiki/Configuration:-Named-Workspaces
workspace "1"
workspace "2"
workspace "3"

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    open-maximized true
    open-focused true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
  match app-id=r#"firefox$"#
  open-on-workspace "2"
}

window-rule {
  match app-id="org.telegram.desktop"
  open-on-workspace "1"
  block-out-from "screencast"
}

window-rule {
  match app-id="kitty"
  open-on-workspace "3"
}

window-rule {
  match app-id="Alacritty"
  open-on-workspace "3"
}

window-rule {
  match app-id="sdl-freerdp"
  open-floating false
}
