* {
    background: black;
    color: white;
    color: @foreground;
    font-family: "Terminess Nerd Font";
    font-size: 18px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    box-shadow: inset 0 -5px 0 0 grey;
    color: white;  /* Optional: to change text color */
}

#custom-microphone {
    color: red;
}

#custom-capture {
    color: red;
}

#battery.critical {
    color: #FF0000;
}

#battery.charging {
    color: #00FF00;
}

#battery.warning {
    color: #ff7000;
}

#custom-network {
    padding-right: 5px;
    padding-left: 1px;
}

#custom-waybar-media.paused {
    color: grey;
}

#custom-waybar-media-previous {
    font-size: 24px;
}

#custom-waybar-media-next {
    font-size: 24px;
}
