[Container]
HostName=%H
Group=%G
User=%U
UserNS=keep-id

Image=docker.io/syncthing/syncthing:latest
AutoUpdate=registry

Network=host

Volume=syncthing:/var/syncthing
Volume=%h/syncthing:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target

