// vi: ft=json
{
    "include": "~/.config/waybar/modules",
    "layer": "top",
    "modules-left": [
        "custom/separator",
        "niri/workspaces",
        "custom/separator",
        "mpris"
    ],
    "modules-center": [
        "clock",
    ],
    "modules-right": [
        "tray",
        "custom/separator",
        "niri/language",
        "custom/separator",
        "pulseaudio#mic",
        "custom/separator",
        "pulseaudio",
        "custom/separator",
        "custom/network",
        "custom/separator",
        "bluetooth",
{{ if eq .profile "laptop" }}
        "custom/separator",
        "battery",
{{ end }}
        "custom/separator",
        "custom/wlogout",
        "custom/separator"
    ]
}

